// LOADER
.loader-container {
   display: flex;
   inset: 0;
   z-index: 2;
   box-sizing: border-box;
   align-items: center;
   justify-content: center;
   animation: loader-hidden 2s ease-in-out both;
   position: fixed;
   backdrop-filter: blur(10px);

   .loader {
      display: flex;
      align-items: center;
      column-gap: 10px;

      &-name {
         color: $font-blk;
         font-family: $font-name;
         font-size: 50px;
         animation: anim-loader 0.8s ease-in-out infinite alternate;

         &:nth-child(1) {
            animation-delay: -0.25s;
         }
         
         &:nth-child(2) {
            animation-delay: -0.5s;
         }
         
         &:nth-child(3) {
            animation-delay: -0.75s;
         }
      }

      &-dot {
         height: 10px;
         width: 10px;
         border-radius: 50%;
         color: $font-wht;
         box-shadow: 0 5px 10px rgba(255, 255, 255, 0.01);
         animation: anim-loader 0.8s ease-in-out infinite alternate;

         &:nth-child(4) {
            background: $primary;
            animation-delay: -1s;
         }
         
         &:nth-child(5) {
            background: $secondary;
            animation-delay: -1.25s;
         }
         
         &:nth-child(6) {
            background: $tertiary;
            animation-delay: -1.5s;
         }
      }
   }
}

// CASSCADE MENU RESTAURANT

.menu article {
   opacity: 0;
   animation: anim-cascada #{$animation-duration} ease-in-out forwards;
   transform: translateY(-100px);
 }
 
 // Boucle pour appliquer la cascade sur l'ensemble des articles
 @for $i from 1 through 10 { // Nombre en fonction du total de plats
   .menu article:nth-of-type(#{$i}) {
     @include anim-delay($i);
   }
 }