// --- HOME PAGE ---
.home-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 10px;
        width: 250px;
    }
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    padding: 15px;
    width: 100%;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);

    @media all and (min-width: 767.98px) {
        background-color: #EAEAEA;
        box-shadow: none;
    }

    img {
        width: 12px;
        padding-right: 20px;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}

// --- RESTAURANT PAGE ---
.restaurant-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .return-button {
      position: absolute; 
      left: 10px;         
      img {
        width: 25px;
      }
    }
}