// VARIABLES
$main: #F6F6F6;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$new-font: #008766;
$footer-bg: #353535;
$font-wht: #FFFFFF;
$font-blk: #000000;

$font-family: 'Roboto', sans-serif;
$font-name: 'Shrikhand', sans-serif;

$animation-duration: 0.5s;
$delay-step: 0.5s;

// MIXINS
@mixin menu-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin font-w500 {
  font-weight: 500;
}

@mixin box-shadow($x: 0px, $y: 4.01px, $blur: 15px, $color: rgba(0, 0, 0, 0.1), $inset: false) {
  box-shadow: if($inset, inset, null) $x $y $blur $color;
}

@mixin rounded($radius: 20px) {
  border-radius: $radius;
}

@mixin anim-delay($index) {
  animation-delay: $index * $delay-step;
}

// KEYFRAMES
@keyframes anim-loader {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes loader-hidden {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes anim-cascada {
  0% {
     opacity: 0;
     transform: translateY(-100px);
  }

  100% {
     opacity: 1;
     transform: translateY(0);
  }
}