.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main;
    border-radius: 20px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -30px;

    @media all and (min-width: 767.98px) {
        width: 90%;
    }

    &-title {      
        display: flex; 
        align-items: flex-end; 

        &:hover .favorite_empty {
            display: none;
        }
    
        &:hover .favorite_full {
            display: inline;
        }

        .favorite {

            &_empty img,
            &_full img {
                width: 22px;
                padding-left: 20px;
                margin-bottom: 7px;
            }

            &_full {
                display: none;
            }
        }
    }
}
