.menu {
  width: 100%;
  max-width: 635px;
  margin: 0 auto;

  &-starter,
  &-main,
  &-dessert {
    @include menu-flex;
  }

  &-item {
    border-radius: 20px;
    background-color: $font-wht;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden; // Pour que la couleur verte ne dépasse pas de la card
    @include box-shadow;
    position: relative;
    margin-top: 12px;

    &-check {
      position: absolute;
      width: 50px;
      right: -50px;
      display: flex;
      height: 100%;
      background: $tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;

      img {
        height: 20px;
        width: 20px;
        object-fit: contain;
      }
    }

    &-choice {
      padding: 20px 15px;

      .item-price {
        font-weight: bolder;
        transition: 0.2s;
      }
    }

    &-description {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 20px 15px;

      .item {

        &-name {
          font-size: 18px;
        }

        &-description {
          font-size: 15px;
          font-weight: 300;
        }

        &-name,
        &-description {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

    }

    &:hover {
      .item-price {
        margin-right: 50px; // Pousse le prix vers la gauche
      }

      .menu-item-check {
        right: 0;
      }
    }
  }
}