@import '../variables.scss';
@import '../header.scss';
@import '../footer.scss';
@import '../favorite';
@import './hero';
@import './menu';

* {
    font-family: $font-family;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
    margin: 30px 0 0 0;
}

h3 {
    font-weight: lighter;
    padding-bottom: 5px;
    border-bottom: 2px solid $tertiary;
    width: 30px;
    margin: 40px 0 20px 0;
}

h4,
p {
    margin: 0;
}

.enseigne-photo {
    width: 100%;
    height: 275px;
    object-fit: cover;

    @media all and (min-width: 767.98px) {
        height: 385px;

    }
}

.optimal-width {
    width: 100%;
    max-width: 1080px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
}

.order-button {
    background: linear-gradient(0deg, $primary, $secondary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 40px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    @include box-shadow;

    &:hover {
        filter: brightness(120%);
    }
}