.home-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-header img {
  padding: 20px;
  width: 250px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 767.98px) {
  .location {
    background-color: #EAEAEA;
    box-shadow: none;
  }
}
.location img {
  width: 12px;
  padding-right: 20px;
}
.location p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.restaurant-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-header img {
  padding: 20px;
  width: 250px;
}
.restaurant-header .return-button {
  position: absolute;
  left: 10px;
}
.restaurant-header .return-button img {
  width: 25px;
}

footer {
  background-color: #353535;
  width: 100%;
  box-sizing: border-box;
}
@media all and (min-width: 767.98px) {
  footer nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 25px;
  }
}
footer nav h4 {
  color: #F6F6F6;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 20px 0;
}
@media all and (min-width: 767.98px) {
  footer nav h4 {
    margin: 50px 0 10px 50px;
  }
}
footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (min-width: 767.98px) {
  footer ul {
    flex-direction: row;
    gap: 25px;
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  display: flex;
  align-items: center;
  color: #F6F6F6;
  text-decoration: none;
}
footer ul li a img {
  height: 13px;
  padding-right: 10px;
}

* {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.optimal-width {
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 4.01px 15px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin: 40px 0;
}
.button:hover {
  filter: brightness(115%);
  box-shadow: 0px 4.01px 15px rgba(0, 0, 0, 0.35);
}

.favorite {
  margin: 10px 30px 0 0;
  position: relative;
  height: 22px;
}
.favorite img {
  position: absolute;
  width: 22px;
  margin-bottom: 7px;
  transition: 0.2s;
}
.favorite img.full {
  opacity: 0;
}
.favorite:hover img.full {
  opacity: 1;
}
.favorite:hover img.empty {
  opacity: 0;
}

@keyframes anim-loader {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes anim-cascada {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loader-container {
  display: flex;
  inset: 0;
  z-index: 2;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  animation: loader-hidden 2s ease-in-out both;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.loader-container .loader {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.loader-container .loader-name {
  color: #000000;
  font-family: "Shrikhand", sans-serif;
  font-size: 50px;
  animation: anim-loader 0.8s ease-in-out infinite alternate;
}
.loader-container .loader-name:nth-child(1) {
  animation-delay: -0.25s;
}
.loader-container .loader-name:nth-child(2) {
  animation-delay: -0.5s;
}
.loader-container .loader-name:nth-child(3) {
  animation-delay: -0.75s;
}
.loader-container .loader-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.01);
  animation: anim-loader 0.8s ease-in-out infinite alternate;
}
.loader-container .loader-dot:nth-child(4) {
  background: #9356DC;
  animation-delay: -1s;
}
.loader-container .loader-dot:nth-child(5) {
  background: #FF79DA;
  animation-delay: -1.25s;
}
.loader-container .loader-dot:nth-child(6) {
  background: #99E2D0;
  animation-delay: -1.5s;
}

.menu .menu-item {
  opacity: 0;
  animation: anim-cascada 0.5s ease-in-out forwards;
}
.menu .menu-item:nth-of-type(1) {
  animation-delay: 0.4s;
}
.menu .menu-item:nth-of-type(2) {
  animation-delay: 0.8s;
}
.menu .menu-item:nth-of-type(3) {
  animation-delay: 1.2s;
}
.menu .menu-item:nth-of-type(4) {
  animation-delay: 1.6s;
}
.menu .menu-item:nth-of-type(5) {
  animation-delay: 2s;
}
.menu .menu-item:nth-of-type(6) {
  animation-delay: 2.4s;
}
.menu .menu-item:nth-of-type(7) {
  animation-delay: 2.8s;
}
.menu .menu-item:nth-of-type(8) {
  animation-delay: 3.2s;
}
.menu .menu-item:nth-of-type(9) {
  animation-delay: 3.6s;
}
.menu .menu-item:nth-of-type(10) {
  animation-delay: 4s;
}
.menu .menu-item:nth-of-type(11) {
  animation-delay: 4.4s;
}
.menu .menu-item:nth-of-type(12) {
  animation-delay: 4.8s;
}
.menu .menu-item:nth-of-type(13) {
  animation-delay: 5.2s;
}
.menu .menu-item:nth-of-type(14) {
  animation-delay: 5.6s;
}
.menu .menu-item:nth-of-type(15) {
  animation-delay: 6s;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px 20px;
  margin-top: -30px !important;
}
@media all and (min-width: 767.98px) {
  .hero {
    width: 90%;
  }
}
.hero-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
  width: 100%;
}
@media all and (min-width: 650px) {
  .hero-title {
    justify-content: center;
  }
}
.hero-title h1 {
  margin: 0;
  font-weight: 500;
}
.hero .favorite {
  margin-left: 22px;
  position: relative;
  height: 22px;
}

.menu {
  width: 100%;
  max-width: 635px;
  margin: 0 auto;
}
.menu-starter, .menu-main, .menu-dessert {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-item {
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  box-shadow: 0px 4.01px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 12px;
}
.menu-item-check {
  position: absolute;
  width: 50px;
  right: -50px;
  display: flex;
  height: 100%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.menu-item-check img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.menu-item-choice {
  padding: 20px 15px;
}
.menu-item-choice .item-price {
  font-weight: bolder;
  transition: 0.2s;
}
.menu-item-description {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 15px;
}
.menu-item-description .item-name {
  font-size: 18px;
}
.menu-item-description .item-description {
  font-size: 15px;
  font-weight: 300;
}
.menu-item-description .item-name, .menu-item-description .item-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item:hover .item-price {
  margin-right: 50px;
}
.menu-item:hover .menu-item-check {
  right: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  margin: 30px 0 0 0;
}

h2 {
  font-weight: 300;
  padding-bottom: 7px;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  margin: 40px 0 20px 0;
}

h3,
p {
  margin: 0;
}

.enseigne-photo {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 767.98px) {
  .enseigne-photo {
    height: 385px;
  }
}/*# sourceMappingURL=styles.css.map */