.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: $main;
    width: 100%;
    box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.2);

    @media all and (min-width: 767.98px) {
        box-shadow: none;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }

    button {
        background: linear-gradient(0deg, $primary, $secondary);
        color: white;
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 3px 15px rgba(0 0 0 / 50%);
        transition: 0.2s;

        &:hover {
            filter: brightness(120%);
        }
    }
}

/* ---FONCTIONNEMENT */
.step-contener {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    padding-bottom: 30px;

    @media all and (min-width: 767.98px) {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}

.fonctionnement {
    margin-bottom: 30px;
    h2 {
        padding-top: 30px;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main;
        border-radius: 20px;
        padding: 15px 40px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 0 10px;

        @media all and (min-width: 767.98px) {
            margin: 0;
        }

        img {
            margin-right: 15px;
        }

        &-absolute {
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
            background-color: $primary;
            color: white;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
        }
    }
}