@keyframes anim-loader {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    transform: translateY(5px);
  }
}
@keyframes loader-hidden {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.home-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-header img {
  padding: 10px;
  width: 250px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 767.98px) {
  .location {
    background-color: #EAEAEA;
    box-shadow: none;
  }
}
.location img {
  width: 12px;
  padding-right: 20px;
}
.location p {
  margin: 0;
  font-size: 16px;
}

.restaurant-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-header .return-button {
  position: absolute;
  left: 10px;
}
.restaurant-header .return-button img {
  width: 25px;
}

footer {
  background-color: #353535;
  width: 100%;
  box-sizing: border-box;
}
@media all and (min-width: 767.98px) {
  footer nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
  }
}
footer nav h4 {
  color: #F6F6F6;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 15px 0;
}
@media all and (min-width: 767.98px) {
  footer nav h4 {
    margin-top: 50px;
  }
}
footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (min-width: 767.98px) {
  footer ul {
    flex-direction: row;
    gap: 20px;
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  display: flex;
  align-items: center;
  color: #F6F6F6;
  text-decoration: none;
}
footer ul li a img {
  height: 13px;
  padding-right: 10px;
}

.favorite {
  margin: 10px 30px 0 0;
  position: relative;
  height: 22px;
}
.favorite img {
  position: absolute;
  width: 22px;
  margin-bottom: 7px;
  transition: 0.2s;
}
.favorite img.full {
  opacity: 0;
}
.favorite:hover img.full {
  opacity: 1;
}
.favorite:hover img.empty {
  opacity: 0;
}

.loader-container {
  display: flex;
  inset: 0;
  z-index: 2;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  animation: loader-hidden 3s ease-in-out both;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.loader-container .loader {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.loader-container .loader-name {
  color: #000000;
  font-family: "Shrikhand", sans-serif;
  font-size: 50px;
  animation: anim-loader 0.8s ease-in-out infinite alternate;
}
.loader-container .loader-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.01);
  animation: anim-loader 0.8s ease-in-out infinite alternate;
}

.loader-name:nth-child(1) {
  animation-delay: -0.25s;
}

.loader-name:nth-child(2) {
  animation-delay: -0.5s;
}

.loader-name:nth-child(3) {
  animation-delay: -0.75s;
}

.loader-dot:nth-child(4) {
  background: #9356DC;
  animation-delay: -1s;
}

.loader-dot:nth-child(5) {
  background: #FF79DA;
  animation-delay: -1.25s;
}

.loader-dot:nth-child(6) {
  background: #99E2D0;
  animation-delay: -1.5s;
}

.cascada article {
  opacity: 0;
  animation: anim-cascada 0.5s ease-in-out forwards;
  animation-delay: 0s;
  transform: translateY(-100px);
}
.cascada article:nth-of-type(2) {
  animation-delay: 0.5s;
}
.cascada article:nth-of-type(3) {
  animation-delay: 1s;
}

.menu-main article:nth-of-type(1) {
  animation-delay: 1.5s;
}
.menu-main article:nth-of-type(2) {
  animation-delay: 2s;
}
.menu-main article:nth-of-type(3) {
  animation-delay: 2.5s;
}

.menu-dessert article:nth-of-type(1) {
  animation-delay: 3s;
}
.menu-dessert article:nth-of-type(2) {
  animation-delay: 3.5s;
}
.menu-dessert article:nth-of-type(3) {
  animation-delay: 4s;
}

@keyframes anim-cascada {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #F6F6F6;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
}
@media all and (min-width: 767.98px) {
  .hero {
    box-shadow: none;
  }
}
.hero h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.hero p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.hero button {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #FFFFFF;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}
.hero button:hover {
  filter: brightness(120%);
}

/* ---FONCTIONNEMENT */
.step-contener {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding-bottom: 30px;
}
@media all and (min-width: 767.98px) {
  .step-contener {
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
}

.fonctionnement {
  margin-bottom: 30px;
}
.fonctionnement h2 {
  padding-top: 30px;
}
.fonctionnement .step {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 15px 40px;
  position: relative;
  margin: 0 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
@media all and (min-width: 767.98px) {
  .fonctionnement .step {
    margin: 0;
  }
}
.fonctionnement .step img {
  margin-right: 15px;
}
.fonctionnement .step-absolute {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 30px 0;
  width: 100%;
  box-sizing: border-box;
}
.restaurants-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media all and (min-width: 767.98px) {
  .restaurants-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin-top: 0;
  }
}

.card {
  background-color: #FFFFFF;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-radius: 20px;
}
.card-photo {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.card-info {
  overflow: hidden;
  text-decoration: none;
  position: relative;
}
.card-info-title {
  font-size: 18px;
  margin: 0 0 5px 0;
}
.card-info-subtitle {
  font-size: 17px;
  margin: 0;
}

.label.new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  font-size: 14px;
}

* {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 370px;
}

img {
  display: block;
}

h2 {
  font-size: 24px;
}

.optimal-width {
  width: 100%;
  max-width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}/*# sourceMappingURL=styles.css.map */