@import '../variables.scss';
@import '../header.scss';
@import '../footer.scss';
@import '../global';
@import '../favorite';
@import '../animation';
@import 'hero.scss';
@import 'restaurants.scss';

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 320px;
}

img {
    display: block;
}

h2 {
    font-size: 24px;
    margin: 0;
}