@import '../variables.scss';
@import '../header.scss';
@import '../footer.scss';
@import '../favorite';
@import 'hero.scss';
@import 'restaurants.scss';

* {
    font-family: $font-family;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 370px;
}

img {
    display: block;
}

h2 {
    font-size: 24px;
}

.optimal-width {
    width: 100%;
    max-width: 1080px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
}